:root {
    --primary-red: rgba(193,0,0,1);
    --header-bar-color: rgba(32,32,32,1);
    --emphasis-gray-bg: rgba(188,188,188,1);
    --overlay-color: rgba(50,50,50,0.9);
    --off-white: rgba(245,245,245,1);
    --off-white-secondary: rgba(230,230,230,1);
    --primary-yellow:#ffe932;
    --secondary-mustard:#ffc432;
    --hyperlink-red:#c50f00;
    --hyperlink-red-visited:#980c00;
    --menu-speed: 0.75s;
}

html{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x:hidden;
    position: relative;
    min-height: 100%;
    padding-bottom:12em;
    margin: 0em auto 0em auto;
    padding-top: 0em;
    width: 80%;
    background: #ffffff none repeat scroll 0 0;
    font-size: 1.3em;
    display:flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a, a:hover, a:visited{
    color:inherit;
    text-decoration:inherit;
}

h1 {
    font-size: 2.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display:inline-block;
    vertical-align: middle;
    width:100%;
    padding:0.2em 0.2em;
    margin:0em;
}

h2 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.05em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h4 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    line-height: 1.1em;
    color: inherit;
}

td {
    font-size: 1em;
}

ul li{
    font-size: 1em;
}

.container {
    margin-top:3em;
}

.container a {
    text-decoration: none;
    color: var(--hyperlink-red);
}

.container a:hover {
    text-decoration: underline;
}

.container a:visited {
    text-decoration: none;
    color: var(--hyperlink-red-visited);
}

.menu-wrap {
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.menu-wrap .toggler {
    font-size: 1em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 2;
    cursor: pointer;
    width: 2em;
    height: 2em;
    opacity: 0;
}

.menu-wrap .menu-button {
    position: absolute;
    top:0.5em;
    left: 0.5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    transition: all .5s ease;
}

.menu-button-burger{
    position: relative;
    display: flex;
    width: 1.5em;
    background: var(--off-white);
    height: 0.2em;
    border-radius: 0.1em;
    box-shadow: 0 0.1 black;
    transition: all .5s ease;
}

.menu-button-burger::before,
.menu-button-burger::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    background: inherit;
    height: 0.2em;
    border-radius: 0.1em;
    transition: all .5s ease;
    top:-0.4em;
}

.menu-button-burger::after{
    transform:translateY(0.8em);
}

/* Animation of burger menu CSS */
.menu-wrap .toggler:checked + .menu-button .menu-button-burger {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .menu-button .menu-button-burger::before,
.menu-wrap .toggler:checked + .menu-button .menu-button-burger::after{
    top:0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .menu-button .menu-button-burger {
    transform: rotate(225deg);
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left:0;
    width: 20em;
    height: 100%;
    transform: translateX(-20em);
    transition-duration: var(--menu-speed);*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
    transform: translateX(0);
    transition-duration: var(--menu-speed);*/
}

.menu-wrap .toggler:checked ~ .menu .menu-inner nav{
    opacity: 1;
    transition-duration: var(--menu-speed);*/
}

.menu-wrap .menu .menu-inner {
    background: var(--overlay-color);
    width:100%;
    height: 100%;
    display: flex;
    flex: none;
    transition: all .5s ease-in-out;
}

.menu-wrap .menu .menu-inner nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-transform: uppercase;
    font-size: 0.9em;
    font-style: bold;
    color: #ececec;
}

.menu-wrap .menu .menu-inner nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    margin-top:4em;
    margin-left:-2em;
}

.menu-wrap .menu .menu-inner nav ul li{
    height: auto;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left:1.5em;
    text-decoration: none;
    border-top: 0.1em solid #ffffff;
    border-bottom: 0.1em solid #ffffff;
}

.menu-wrap .menu .menu-inner nav ul li:hover {
    background: rgba(30,30,30,0.3);
    color:#ffffff;
    transition-duration: all 0.4s ease;
}

/*header-bar*/

.header-bar{
    position:fixed;
    top:0;
    left:0;
    text-align: center;
    display:block;
    background: var(--header-bar-color);
    width:125%;
    margin-left:-12.5%;
    padding-left:12.5%;
    padding-right: 12.5%;
    color: var(--off-white);
}

.header-bar #poland_flag {
    width: 2em;
    display: inline-block;
}

/*regular*/

.regular{
    display:inline-block;   
}

.regular a {
}

.regular a:hover {
}

.regular a:visited {
}

.regular h1{
}

.regular h2{
}

.regular h3{
}

.regular h4{
}

/*emphasis-off-white*/

.emphasis-off-white{
    display:inline-block;
    background: var(--off-white);
    color: var(--primary-red);
    width: 125%;
    margin-left: -12.5%;
    padding-left:12.5%;
    padding-right: 12.5%;
}

.emphasis-off-white a {
    color: var(--primary-yellow)
}

.emphasis-off-white a:hover {
}

.emphasis-off-white a:visited {
    color: var(--secondary-mustard);
}

.emphasis-off-white h1{
    color: var(--primary-red);
}

.emphasis-off-white h2{
    color: var(--primary-red);
}

.emphasis-off-white h3{
    color: var(--primary-red);
}

.emphasis-off-white h4{
    color: var(--primary-red);
}

/*emphasis-white*/

.emphasis-white{
    display:inline-block;
    width: 125%;
    margin-left: -12.5%;
    padding-left:12.5%;
    padding-right: 12.5%;
}

.emphasis-white a {
    color: var(--primary-yellow)
}

.emphasis-white a:hover {
}

.emphasis-white a:visited {
    color: var(--secondary-mustard);
}

.emphasis-white h1{
    color: var(--primary-red);
}

.emphasis-white h2{
    color: var(--primary-red);
}

.emphasis-white h3{
    color: var(--primary-red);
}

.emphasis-white h4{
    color: var(--primary-red);
}

/*emphasis-red*/

.emphasis-red{
    display:inline-block;
    background: var(--primary-red);
    color: var(--off-white-secondary);
    width: 125%;
    margin-left: -12.5%;
    padding-left:12.5%;
    padding-right: 12.5%;
}

.emphasis-red a {
    color: var(--primary-yellow)
}

.emphasis-red a:hover {
}

.emphasis-red a:visited {
    color: var(--secondary-mustard);
}

.emphasis-red h1{
    color: var(--off-white);
}

.emphasis-red h2{
    color: var(--off-white);
}

.emphasis-red h3{
    color: var(--off-white);
}

.emphasis-red h4{
    color: var(--off-white);
}

/*emphasis-gray*/

.emphasis-gray{
    display:inline-block;
    background: var(--emphasis-gray-bg);
    width: 125%;
    margin-left: -12.5%;
    padding-left:12.5%;
    padding-right: 12.5%;
}

.emphasis-gray a {
}

.emphasis-gray a:hover {
}

.emphasis-gray a:visited {
}

.emphasis-gray h1{
}

.emphasis-gray h2{
}

.emphasis-gray h3{
}

.emphasis-gray h4{
}

.columns{
    width: 100%;
    display:inline-flex;
    float:center;
    margin-top:0.5em;
    margin-left:auto;
    margin-right:auto;
}

.column{
    display:inline;
    float:center;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    padding-left:1em;
    padding-right:1em;
}

.column-title{
    display:inline-block;
}

#about_img {
    display: inline;
    width:15em;
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em;
    margin-top:1em;
}

#plain_img {
    display: block;
    width:20em;
    float:center;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:1.5em;
    margin-top:1em;
}

/* poetry*/

.poetry-gallery-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align:center;
    height:auto;
    width:auto;
    float:center;
}

.poetry-gallery {
    display:block;
    margin-left:1.5em;
}

.poem-div {
    display:inline-flex;
    flex-flow:column;
    width:auto;
    height:auto;
    float:center;
    text-align:center;
    margin-right:1.5em;
    margin-bottom:2em;
    /*border:0.1em solid #FFF;*/
    font-size:90%;
}

/*.poem-div:hover{
    display:block;
    font-size:90%;
    
}*/

.poem-title{
    display:block;
    text-align: center;
    font-style:bold;
    font-size:1.2em;
}

.poem-by{
    display: block;
    text-align: left;
    font-size: 0.9em;
}

.poem-date{
    display: block;
    text-align: left;
    font-size: 0.7em;
}

.poem-lines{
    display: block;
    text-align: right;
    font-size: 0.7em;
}

.poem-content{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    font-size:0.9em;
    font-family:'Times New Roman', 'Serif';
}

.poem-comment{
    display: block;
    width: auto;
    max-width: 20em;
    height: auto;
    text-align: left;
    font-size: 0.7em;
}

/* TOC */

#toc_container {
    display: table;
    margin-bottom: 1em;
    margin-left: 2em;
    padding: 20px;
    width: auto;
    border: 0.1em solid #6D6D6D;
    background: #effbff none repeat scroll 0 0;
}

.toc_title {
    font-size: 1.2em;
    text-align: center;
    color: #217f8b;
    font-style:bold;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    font-size: 1em;
}

/* Footer */

footer {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    margin-top: 1.3em;
    margin-right: -12.5%;
    margin-left:-12.5%;
    font-size: 0.8em;
    display:block;
    text-align:center;
    background: var(--primary-red);
    color: var(--off-white-secondary);
}

footer a {
}

footer a:hover {
}

footer a:visited {
}

#footer_band{
    display:block;
    background: var(--off-white);
    margin-top:0em;
    margin-left:-12.5%; 
    margin-right: -12.5%;
    margin-bottom:-3.6em;
    width:112.5%;
    height:3.5em;
}

.footer-div-container {
    display:inline-flex;
    float:center;
    margin-top:0em;
    margin-left:auto;
    margin-right:auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.footer-div {
    margin-top: 0em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    float:left;
    display:inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-left: 0.1em solid #ffffff;
    border-right: 0.1em solid #ffffff;
}

.footer-div ul {
    padding-top:1em;
    padding-left: 0em;
    display:inline-block;
}

.footer-div ul li{
    list-style: outside none none !important;
    text-transform:none;
    padding-top:0em;
    text-align:left;
    
}

.footer-div ul li a:hover{
    text-decoration: underline;
}

.footer-title{
    color: #363636;
    font-style: bold;
    font-size: 1.1em;
    padding-bottom:0em;
    text-align:center;
    float:center;
    display:block;
}

@media screen and (max-width: 780px) {

    .header-bar{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .header-bar h1{
        font-size: 1.5em;
    }

    .menu-wrap .menu {
        width: 100%;
        transform: translateX(-100%);
    }

    .menu-wrap .menu .menu-inner nav ul li{
        margin-left:-2em;
        font-size: 1.5em;
        text-align: center;
    }

    body {
        padding-bottom: 32em;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 1em;
    }
    .footer-div-container{
        display:block;
        width:100%;
        margin-top: 0.2em;
    }
    .footer-div {
        display:block;
        width:125%;
        margin-left:-12.5%;
        margin-top: 0em;
        padding-left:12.5%;
        padding-right:12.5%;
        padding-top: 0em;
        padding-bottom: 0em;
        margin-bottom: 0em;
    }
    
    .footer-div ul li {
        text-align: center;
    }

    .footer-title {
        background: var(--off-white);
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .columns{
        display:block;
        width:100%;
    }
    
    #about_img {
        display: block;
        float: center;
        width: 70%;
        max-width: 20em;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    #plain_img {
        display: block;
        float:center;
        width: 70%;
        max-width: 20em;
        margin-right:25%;
        margin-left:25%;
    }
}
