:root {
    --primary-color: rgba(13,110,139,0.75);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed: 0.75s;
}

html{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom:12em;
    margin: 0em auto 0em auto;
    padding-top: 0em;
    width: 80%;
    background: #ffffff none repeat scroll 0 0;
    font-size: 1.3em;
    display:flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a, a:hover, a:visited{
    color:inherit;
    text-decoration:inherit;
}

.container a {
    text-decoration: none;
    color: #8B214A;
}

.container a:hover {
    text-decoration: underline;
}

.container a:visited {
    text-decoration: none;
    color: #8B217F;
}

.menu-wrap {
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 3.5em;
    height: 3.5em;
    opacity: 0;
}

.menu-wrap .menu-button {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    transition: all .5s ease;
    border: 0.1em solid #000000;
}

.menu-button-burger{
    position: relative;
    display: flex;
    width: 1.5em;
    background: #000000;
    height: 0.2em;
    border-radius: 0.1em;
    transition: all .5s ease;
}

.menu-button-burger::before,
.menu-button-burger::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    background: inherit;
    height: 0.2em;
    border-radius: 0.1em;
    transition: all .5s ease;
    top:-0.4em;
}

.menu-button-burger::after{
    transform:translateY(0.8em);
}

/* Animation of burger menu CSS */
.menu-wrap .toggler:checked + .menu-button .menu-button-burger {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .menu-button .menu-button-burger::before,
.menu-wrap .toggler:checked + .menu-button .menu-button-burger::after{
    top:0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .menu-button .menu-button-burger {
    transform: rotate(225deg);
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left:0;
    width: 20em;
    height: 100%;
    transform: translateX(-20em);
    transition-duration: var(--menu-speed);*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
    transform: translateX(0);
    transition-duration: var(--menu-speed);*/
}

.menu-wrap .toggler:checked ~ .menu .menu-inner nav{
    opacity: 1;
    transition-duration: var(--menu-speed);*/
}

.menu-wrap .menu .menu-inner {
    background: var(--overlay-color);
    width:100%;
    height: 100%;
    display: flex;
    flex: none;
    transition: all .5s ease-in-out;
}

.menu-wrap .menu .menu-inner nav {
    position: relative;
    top:2em;
    width:100%;
    height:100%;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-transform: uppercase;
    font-size: 0.9em;
    font-style: bold;
    color: #6D6D6D;
}

.menu-wrap .menu .menu-inner nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
}

.menu-wrap .menu .menu-inner nav ul li{
    height: auto;
    padding-top:0.5em;
    padding-bottom:0.5em;
    text-decoration: none;
}

.menu-wrap .menu .menu-inner nav ul li:hover {
    background: var(--overlay-color) none repeat scroll 0 0;
    color:#ffffff;
}

.menu-wrap .menu .menu-inner nav ul li a {
    color:inherit;
    transition: color 0.4s ease;
}

#language_nav {
    display:block;
    margin-left:-12.5%;
    margin-right:-12.5%;
    width:auto;
    background: #fbe3ec none repeat scroll 0 0;
}

#language_nav_container{
    text-align: center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 0.9em;
    font-style: bold;
    color: #6D6D6D;
}

#language_nav ul {
    list-style: none;
    margin:0em;
    display:inline;
}

#language_nav ul li{
    display:inline-block;
    line-height:2.5em;
    padding-left:1em;
    padding-right:1em;
    margin-left: 0em;
    margin-right: -0.35em;
    margin-bottom:0em;
    margin-top:0em;
    border-left: 0.1em solid #ffffff;
    border-right: 0.1em solid #ffffff;
    text-decoration: none;
    background: #fbe3ec none repeat scroll 0 0;
}

#language_nav ul li:hover {
    background: #f8cddd none repeat scroll 0 0;
    color:#ffffff;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #217f8b;
    display:inline-block;
    vertical-align: middle;
    width:100%;
    padding:0.2em 0.2em;
    margin:0em;
}

h2 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #217f8b;
}

h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #217f8b;
}
p {
    line-height: 1.1em;
    color: #333;
}

td {
    font-size: 1em;
}

ul li{
    font-size: 1em;
}

#secondary_h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #217f8b;
    display:inline-block;
    width:100%;
    text-align: center;
}

#about_img {
    display: inline;
    width:20em;
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em;
    margin-top:1em;
}

#plain_img {
    display: block;
    width:20em;
    float:center;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:1.5em;
    margin-top:1em;
}

/* poetry*/

.poetry-gallery-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align:center;
    height:auto;
    width:auto;
    float:center;
}

.poetry-gallery {
    display:block;
    margin-left:1.5em;
}

.poem-div {
    display:inline-flex;
    flex-flow:column;
    width:auto;
    height:auto;
    float:center;
    text-align:center;
    margin-right:1.5em;
    margin-bottom:2em;
    border:0.1em solid #FFF;
    font-size:90%;
}

/*.poem-div:hover{
    display:block;
    font-size:90%;
    
}*/

.poem-title{
    display:block;
    text-align: left;
    font-style:bold;
    font-size:1.2em;
}

.poem-by{
    display: block;
    text-align: left;
    font-size: 0.9em;
}

.poem-date{
    display: block;
    text-align: left;
    font-size: 0.7em;
}

.poem-lines{
    display: block;
    text-align: right;
    font-size: 0.7em;
}

.poem-content{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    font-size:0.9em;
    font-family:'Times New Roman', 'Serif';
}

.poem-comment{
    display: block;
    width: auto;
    max-width: 20em;
    height: auto;
    text-align: left;
    font-size: 0.7em;
}

/* TOC */

#toc_container {
    display: table;
    margin-bottom: 1em;
    margin-left: 2em;
    padding: 20px;
    width: auto;
    border: 0.1em solid #6D6D6D;
    background: #effbff none repeat scroll 0 0;
}

.toc_title {
    font-size: 1.2em;
    text-align: center;
    color: #217f8b;
    font-style:bold;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    font-size: 1em;
}

/* Footer */

footer {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    margin-top: 1.3em;
    margin-right: -12.5%;
    margin-left:-12.5%; 
    font-size: 0.8em;
    display:block;
    text-align:center;
    background: #c1efff none repeat scroll 0 0;
    color: #6D6D6D;
}

#footer_band{
    display:block;
    background: #fbe3ec none repeat scroll 0 0;
    margin-top:0em;
    margin-left:-12.5%; 
    margin-right: -12.5%;
    margin-bottom:-3.6em;
    width:112.5%;
    height:3.5em;
}

.footer-div-container {
    display:inline-flex;
    float:center;
    margin-top:0em;
    margin-left:auto;
    margin-right:auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.footer-div {
    margin-top: 0em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    float:left;
    display:inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-left: 0.1em solid #ffffff;
    border-right: 0.1em solid #ffffff;
}

.footer-div ul {
    padding-top:0.2em;
    padding-left: 0em;
    display:inline-block;
}

.footer-div ul li{
    list-style: outside none none !important;
    text-transform:none;
    padding-top:0em;
    text-align:left;
    
}

.footer-div ul li a:hover{
    text-decoration: underline;
}

.footer-title{
    color: #363636;
    font-style: bold;
    font-size: 1.1em;
    padding-bottom:0em;
    text-align:center;
    float:center;
    display:block;
}

@media screen and (max-width: 780px) {
    nav ul, nav ul li{
        display:block;
        width:auto;
        margin-top: 0em;
        margin-left:0em;
        padding-top: 0.5em;
        padding-left: 0em;
        padding-right: 0em;
        border-left: 0;
        border-right: 0;
        border-top: 0.1em solid #ffffff;
        border-bottom: 0.1em solid #ffffff;
    }
    nav ul li{
        padding-left: 0em;
        padding-bottom: 0.5em;
    }
    
    nav {
        padding-top:1.5em;   
    }
    
    #language_nav ul{
        margin-left:-2.5em;    
    }
    
    body {
        padding-bottom: 32em;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 1em;
    }
    .footer-div-container{
        display:block;
        width:100%;
        margin-top: 0.2em;
    }
    .footer-div {
        display:block;
        width:100%;
        margin-top: 0em;
        padding-top: 1em;
        padding-bottom: 0em;
        margin-bottom: 0em;
        border-bottom: 0.1em solid #ffffff;
    }
    
    .footer-div ul li {
        text-align: center;
    }
    
    #about_img {
        display: block;
        float: center;
        width: 70%;
        max-width: 20em;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    #plain_img {
        display: block;
        float:center;
        width: 70%;
        max-width: 20em;
        margin-right:15%;
        margin-left:15%;
    }
}
