<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <meta name="description" content="Elisa's Duolingo Polski notes: I follow the lessons in Duolingo for Polish and make notes about the grammar and vocabulary that we are learning in each of them.">
            <meta name="og:title" property="og:title" content="Elisa's Duo Polski: Duolingo Polish notes">
            <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        </head>
        <body>
            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="menu-button"><div class="menu-button-burger"></div></div>
                <div class="menu">
                    <div class="menu-inner">
                        <nav>
                            <ul>
                                <a href="/"><li>Home - Resources</li></a>
                                <!-- <a href="/basics"><li>Basics</li></a>
                                <a href="/checkpoint_1"><li>Checkpoint 1</li></a>
                                <a href="/checkpoint_2"><li>Checkpoint 2</li></a> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container">

                {{ content }}
                
            </div><!-- /.container -->
            </header>
            <footer>
                <div id="footer_band">
                </div>
                <div class="footer-div-container">
                    <div class="footer-div">
                        <span class="footer-title">Resources</span>
                        <ul>
                            <li><a href="https://mowicpopolsku.com/">Mówić po Polsku</a></li>
                            <li><a href="https://www.clozemaster.com/blog/topics/language-learning/learn-polish/">Clozemaster</a></li>
                            <li><a href="https://courseofpolish.com/grammar">Course of Polish</a></li>
                        </ul>
                    </div>
                    <div class="footer-div">
                        <span class="footer-title">Dictionaries</span>
                        <ul>
                            <li><a href="https://apps.apple.com/cn/app/polish-dictionary-thesaurus-english-translation/id1028404454?l=en">Polish Dictionary & Thesaurus (iOS)</a>
                            <li><a href="https://play.google.com/store/apps/details?id=com.farlex.dictionary.polish&hl=en_US">Polish Dictionary & Thesaurus (GooglePlay)</a>
                            <li><a href="https://pl.wiktionary.org/">Polish Wiktionary</a>
                            <li><a href="http://pl.thefreedictionary.com/">The Free Dictionary by Farlex</a>
                        </ul>
                    </div>
                    <div class="footer-div">
                        <span class="footer-title">Contact</span>
                        <ul>
                            <li><a href="https://forum.duolingo.com/comment/34799185">Original Post in Duolingo</a></li>
                            <li>Owner email: <a href="mailto:elisa.duo.polski@gmail.com">elisa.duo.polski@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </body>
    </html>